// Color variables

$primary-color: #F2F5FB;
$secondary-color: #007bff;
$accent-color: #F46D16;
$white-color: #fff;
$overlay-color: #0B0A2B;
$dark-color-footer: #1E1E1E;
$light-band-footer: #322727;   