<nav>
    <div class="logo">
      <a routerLink="home">
        <img src="../assets/img/logo.png" alt="logo" />
      </a>
    </div>
  
    <ng-container
      *ngIf="mobile; then mobile_view; else desktop_view"
    ></ng-container>
  
    <ng-template #desktop_view>
      <ul>
        <li><a routerLink="home">Home</a></li>
        <li>
          <button mat-button [matMenuTriggerFor]="menu">
            Menu
  
            <mat-menu #menu="matMenu" yPosition="below">
              <a mat-menu-item>Item 1</a>
              <a mat-menu-item>Item 2</a>
            </mat-menu>
          </button>
        </li>
        <li><a href="/services">Services</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/company">Company</a></li>
        <li><a href="/team">Our team</a></li>
      </ul>
    </ng-template>
  
    <ng-template #mobile_view>
      <button mat-button [matMenuTriggerFor]="menu" class="menu-button">
        Menu
  
        <mat-menu #menu="matMenu" yPosition="below">
          <a mat-menu-item>Item 1</a>
          <a mat-menu-item>Item 2</a>
          <a mat-menu-item>Item 3</a>
          <a mat-menu-item>Item 4</a>
          <a mat-menu-item>Item 5</a>
          <a mat-menu-item>Item 6</a>
        </mat-menu>
      </button>
    </ng-template>
  </nav>