<footer>
  <div class="wrapper">
    
    <div class="logo"><img src="../assets/img/logo.png" alt="logo" /></div>
    <div class="about">
      Consequat in elit eu ex tempor veniam commodo quis consectetur adipisicing
      exercitation.
    </div>
    <div class="links">
      <p class="heading">Links</p>
      <ul>
        <li><a routerLink="home">Home</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/company">Company</a></li>
        <li><a href="/team">Our team</a></li>
        <li><a href="">JCS Print Solution</a></li>
        <li><a href="">JCS Store</a></li>
        <li><a href="">JCS Electronics</a></li>
        <li><a href="">JCS Enterprise Communication</a></li>
        <li><a href="">JCS Enterprise Digitalisation</a></li>
        <li><a href="">JCS Electronics</a></li>
      </ul>
    </div>
    <div class="contact">
      <p class="heading">Contact</p>
      <div class="contact-info">
        <img src="../assets/icons/phone_.svg" alt="phone" />
        <p>+1 (123) 456-789</p>
      </div>
      <div class="contact-info">
        <img src="../assets/icons/mail_.svg" alt="mail" />
        <p>l5i9A@example.com</p>
      </div>
    </div>
    <div class="newsletter">
      <p class="heading">Newsletter</p>
      <div>
        Aute irure occaecat reprehenderit ex enim non do ullamco elit est ipsum
        laborum.
      </div>
    </div>
    <div class="email">
      <input type="email" placeholder="Email" id="" />
      <button type="submit"></button>
    </div>
  </div>
    <div class="cr">

      <div class="copyright">Copyright @2023 JCS Group</div>
      <div class="social">
        <ul>
          <li>
            <a href="">
              <img src="../assets/icons/facebook_.svg" alt="facebook"
            /></a>
          </li>
          <li>
            <a href="">
              <img src="../assets/icons/messanger_.svg" alt="messanger"
            /></a>
          </li>
          <li>
            <a href="">
              <img src="../assets/icons/whatsapp_.svg" alt="whatsapp"
            /></a>
          </li>     
        </ul>
      </div>
    </div>
  </footer>